/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  color: #005f50;
}
  
.code-copy-button {
        display: none !important;
}

/* Breadcrumb Links */
.breadcrumb-item a {
  color: #005f50 !important;
}

/* Hover-Zustand */
.breadcrumb-item a:hover {
  color: #003f35 !important;
  text-decoration: underline;
}